.playercard{
    height: 200px;
    width: 500px;
    box-shadow: 0 4px 8px 0 rgba(202, 172, 172, 0.2);
}


.dashboard-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.col-md-6 {
    flex: 1 ;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.bg-warning, .bg-danger, .bg-info {
    padding: 20px;
    border-radius: 10px;
    /* width: 100%; */
}
